body{
    margin: 0;
    background-color: rgb(7, 7, 7);
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0px;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
}
.container > div{
    margin: 0;
}
.container h1{
    font-size: 3rem;
    margin: 0;
}
.middle{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro p{
    font-size: 2rem;
    margin: 1rem;
}
.gameBoard{
    height: 25rem;
    width: 25rem;
    border: 0px solid white;
}
.winner{
    font-size: 2rem;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    gap: 0px;
    align-items: stretch;
}
.gameBoard > div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 7rem;
    border: 1px solid white;
}

.gameBoard > div:hover{
    color: red;
}

.status{
    width: 230px;
}

#reset{
    background-color: #1d4ed8;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 30px;
    color: #0a0a0a;
}

#winner{
    color: purple;
    font-size: 40px;
}